/* ---------------------------- */
/*        GRID TARJETAS         */
/* ---------------------------- */

.clientes-scroll {
    -fx-background-color: transparent;
}

.clientes-grid {
    -fx-padding: 30 40;
}

.cliente-card {
    -fx-background-color: #e4e4e4;
    -fx-pref-width: 240;
    -fx-pref-height: 240;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 15;
}

.cliente-id {
    -fx-text-fill: #a38a6b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.cliente-text {
    -fx-text-fill: #a38a6b;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

