/* -------------------------- */
/* TARJETAS DE CLIENTE        */
/* -------------------------- */

.cliente-card {
    -fx-background-color: #e6e6e6;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 15;
}

.cliente-id {
    -fx-text-fill: #b29e84;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.cliente-text {
    -fx-text-fill: #b29e84;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
