/* ------------------------------ */
/* BARRA SUPERIOR */
/* ------------------------------ */
.topBar {
    -fx-background-color: #b89d7d;
    -fx-padding: 12 20;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 15;
}


.title-label {
    -fx-font-size: 15px;
    -fx-text-fill: white;
}


.window-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16;
}


.window-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.window-btn-close{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.window-btn-close:hover {
    -fx-background-color: #d9534f;
}

/* ------------------------------ */
/* BARRA DERECHA */
/* ------------------------------ */
.right-bar {
    -fx-background-color: #cccccc;
}


/* ------------------------------ */
/* BOTONES MENU */
/* ------------------------------ */
.menu-button {
    -fx-background-color: #b29e84;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 30;
    -fx-font-size: 37px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 40;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.0, 6, 6);
}


.menu-button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* ---------------------------- */
/*      PANEL LATERAL DERECHO   */
/* ---------------------------- */



.right-panel {
    -fx-background-color: #c5c5c5;
    -fx-padding: 25 15;
    -fx-alignment: TOP_CENTER;
}

.buscador-box {
    -fx-background-color: #b29e84;
    -fx-background-radius: 10;
    -fx-padding: 5 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 1, 0.0, 4, 4);
}

.buscador-input {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

/* ---------------------------------- */
/* BOTÓN DE MENÚ TIPO ICONO (FILTRO)  */
/* ---------------------------------- */

.icon-menu-button {
    /* Hacemos que el botón sea completamente transparente y sin tamaño propio */
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
}


.icon-menu-button .arrow-button .arrow {
    -fx-padding: 0;
    -fx-shape: "";
}


/* BOTONES PEQUEÑOS */

.btn-add {
    -fx-background-color: #b29e84;
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 1, 0.0, 3, 3);
}

.btn-add:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btn-delete {
    -fx-background-color: #d9534f;
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 1, 0.0, 3, 3);
}

.btn-delete:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}


/* BOTONES DERECHOS*/
.side-menu-button {
    -fx-background-color: #b29e84;
    -fx-background-radius: 17;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 17;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 20;
    -fx-pref-width: 190;
    -fx-pref-height: 60;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 1, 0.0, 4, 4);
}

.side-menu-button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.side-menu-button-active {
    -fx-background-color: #998771;
    -fx-background-radius: 17;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 17;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 20;
    -fx-pref-width: 190;
    -fx-pref-height: 60;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 1, 0.0, 4, 4);
}

